/* * {
    border: 1px solid gray;
} */

html {
    font-size: min(1.5vw, 12px);
}



header {
    width: 100%;
    height: 10rem;
}

nav {
    width: 100%;
    height: auto;
    position: fixed;
    top: -50px;
    padding-top: 50px;
    left: -50px;
    padding-left: 50px;
    transition: top 0.3s;
    z-index: 1;
    margin: 15px 20px;
    border-bottom: 1px solid gray;
    background-color: white;
}

.navbar-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.search-bar-container {
    margin-left: 1.5rem;
    border: 1px solid gray;
    border-radius: 5px; 
    min-width: 46rem;
    max-height: 5rem;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 1.25rem;
}

.search-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid gray;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-left: 10px;
}

.search-bar-container input {
    border: none;
    height: 95%;
    width: calc(95% - 50px);
    font-size: 1.4rem;
    padding-left: 10px;
}

.search-bar-container input:focus {
    outline: none;
}

.navbar-images {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 3rem;
}

.navbar-img-button1, .navbar-img-button2, .navbar-img-button3 {
    background: none;
    border: none;
    cursor: pointer;
    height: 6rem;
    width: 6rem;
}

.navbar-image1, .navbar-image2, .navbar-image3 {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 0 auto;
}

.navbar-image-label1, .navbar-image-label2, .navbar-image-label3 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.main {
    margin-top: 12rem;
    margin-bottom: 5rem;
}

.current-deals-container {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "deal1 deal1 deal2 deal3"
        "deal1 deal1 deal4 deal3"
        "deal5 deal5 deal4 deal6";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    max-width: 984px;
    width: 100%;
    height: 42rem;

}

.deal1 {
    grid-area: deal1;
    background-color: pink;
}

.deal2 {
    grid-area: deal2;
    background-color: lightblue;
}

.deal3 {
    grid-area: deal3;
    background-color: lightgreen;
}

.deal4 {
    grid-area: deal4;
    background-color: lightyellow;
}

.deal5 {
    grid-area: deal5;
    background-color: lightgray;
}

.deal6 {
    grid-area: deal6;
    background-color: lightcoral;
}

.gift-shop-static {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "banner banner banner banner banner banner banner banner banner banner banner banner"
        "ForHer ForHer ForHer ForHer ForHim ForHim ForHim ForHim ForKids ForKids ForKids ForKids"
        "gdeal1 gdeal1 gdeal1 gdeal2 gdeal2 gdeal2 gdeal3 gdeal3 gtoys gtoys gtoys gtoys"
        "gpjs gpjs gpjs gbeauty gbeauty gbeauty gstuffers gstuffers gstuffers gcards gcards gcards";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    max-width: 984px;
    width: 100%;
    height: 42rem;
}



@media screen and (max-width: 600px) {
    .nav {
        height: calc(2 * auto);
    }

    .search-bar-container {
        flex-basis: 100%;
        order: 3;
        margin-left: 0;
        margin-right: 60px;
    }
    
    .main {
        margin-top: 24rem;
    }
}

@media screen and (max-width: 400px) {
    html {
        font-size: 6px;
    }
}